---

- name: Ensure {{ directory.name }} exists
  ansible.builtin.file:
    path: "{{ directory.path }}"
    state: directory
    mode: "{{ directory.mode | default('0755') }}"
  become: "{{ k3s_become }}"
  when:
    - directory.path is defined
    - directory.path is not sameas(omit)
    - (directory.path | string) | length > 0
