apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    logs:
      access:
        enabled: true
        format: json
    tracing: {}

    service:
      spec:
        externalTrafficPolicy: Local
        healthCheckNodePort: 32323

    deployment:
      kind: DaemonSet
